<div class="container">
    <h2>
        Sign up
    </h2>
    <br>
    <form action="" autocomplete="off" novalidate [formGroup]="form" (submit)="signUpWithEmail()">
        <input type="email" name="user" placeholder="Email Address" formControlName="email">
        <input type="password" name="pass" placeholder="Password" formControlName="password">
        <input type="submit" name="login" (click)=" signUpWithEmail()" value="Sign-Up">
    </form>
    <div class="login-help">
        <a href="#">Sign Up with Facebook</a>
    </div>
    <div class="login-help">
        <a href="#" (click)="signUpWithGoogle()">Sign-Up with Google</a>
    </div>
    <div class="login-help">
        <a href="#" routerLink="/login">Login</a>-<a href="#">Forgot Password</a>
    </div>
</div>